.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    align-items: center;
    .header__navigation {
        display: flex;
        gap: 30px;
    }
    .header__nav-button {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 15px;
        line-height: 1.22;
    
        text-align: center;
        text-transform: uppercase;
    
        color: #F7941E;
        border: 1px solid #F7941E;
        border-radius: 5px;
        background-color: #fff;
        padding: 14px 25px;
    
    }
    .header__nav-link {
        display: block;
        padding: 47px 0;
        transition: color 250ms linear;
        &:hover, &:focus {
            color: orange;
        }
    }
}

