.hero {
  background-color: $primary-background-color;
  width: 1440px;
  margin: 0 auto;

  &__container {
    display: flex;
    align-items: center;
  }
}

.hero__inform {
  padding-left: 162px;
  margin-right: 126px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 50px;

  font-size: 56px;
  font-weight: 600;
  line-height: 1.23;
}

.hero__description {
  margin: 0;
  margin-bottom: 60px;

  font-size: 20px;
  line-height: 1.4;
}

.hero__btn {
  padding: 20px 25px;

  min-width: 200px;
  height: 60px;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: $accent-color;
  border-radius: 5px;
  border: 1px solid $accent-color;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    box-shadow: 0 0 16px -4px #36210d;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 16px 1px #a86222 inset;
  }
}

.hero__image {
  width: 719px;
}
