// .list {
// 	padding: 0;
// 	margin: 0;
// 	list-style: none;
// }

// h2,
// h3,
// h4,
// h5,
// p {
// 	margin: 0;
// }

// .link {
// 	text-decoration: none;
// 	color: currentColor;
// }

.body {
	color: $text-color;
	font-family: Roboto, sans-serif;
}

.section {
	padding-top: 80px;
	padding-bottom: 80px;

	&-title {
		font-size: 32px;
		line-height: 1.19;
		text-align: center;	
		margin-bottom: 23px;
	}

	&-text {
		font-size: 18px;
		line-height: 1.33;
		text-align: center;
		margin-bottom: 70px;
	}
}

.container {
	max-width: 1440px;
	margin: auto;
	padding: 88px 135px 80px 135px;
}

.feature {
	display: flex;	
	background: $bg-color;
	margin-bottom: 40px;

	&-autor {
		font-size: 14px;
		line-height: 1.43;
		color: $second-color;
		margin-top: 63px;
		margin-bottom: 27px;
		}
		
	&-title {
			font-size: 48px;
			line-height: 1.2;
			color: $second-color;
			margin-bottom: 60px;
	}
	&-link {
		font-size: 18px;
		line-height: 1.34;
		color: $second-color;
	}
}

.feature-desc {
	display: block;
	margin-left: 78px;
}

.card {
	display: flex;
	align-items: center;
	gap: 30px;

	&-item {
		width: 570px;
		height: 290px;
		padding: 48px 48px 50px 48px;	
	}

	&-title  {
		font-size: 24px;
		line-height: 1.42;
		color: $text-color;		
		margin-bottom: 16px;
}
	&-text {
		margin-bottom: 16px;
		min-height: 72px;
		font-size: 18px;
		line-height: 1.4;
}
}

.card-item:hover {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}