<section class="section gifts">
    <div class="container">
        <h2 class="section-title">Gifts for all Occasions</h2>
        <p>“Try our web app to find the best gifts for all occasions”</p>
        <ul class="section-list">
            <li>
                <img src="" alt="кулька і торт зі свічками" width="270" height="270">
                <h3 class="holiday-title">Birthday</h3>
                <p class="more">See More ›</p>
            </li>
            <li>
                <img src="" alt="туфлі і букет нареченої на стілці" width="270" height="270">
                <h3 class="holiday-title">Anniversary</h3>
                <p class="more">See More ›</p>
            </li>
            <li>
                <img src="" alt="листівки" width="270" height="270">
                <h3 class="holiday-title">Valentine's Day</h3>
                <p class="more">See More ›</p>
            </li>
            <li>
                <img src="" alt="ялинка" width="270" height="270">
                <h3 class="holiday-title">Christmas</h3>
                <p class="more">See More ›</p>
            </li>
        </ul>
    </div>
</section>