<body>
    <div class="gifts">
        <h2 class="gifts-title">Gifts for all Occasions</h2>
        <p>“Try our web app to find the best gifts for all occasions”</p>
        <ul>
            <li>
                <img src="" alt="кулька і торт зі свічками" width="270" height="270">
                <h3>Birthday</h3>
                <p>See More ›</p>
            </li>
            <li>
                <img src="" alt="туфлі і букет нареченої на стілці" width="270" height="270">
                <h3>Anniversary</h3>
                <p>See More ›</p>
            </li>
            <li>
                <img src="" alt="листівки" width="270" height="270">
                <h3>Valentine's Day</h3>
                <p>See More ›</p>
            </li>
            <li>
                <img src="" alt="ялинка" width="270" height="270">
                <h3>Christmas</h3>
                <p>See More ›</p>
            </li>
        </ul>
    </div>
</body>