<section class="section gifts">
    <div class="container">
        <h2 class="section-title">Gifts for all Occasions</h2>
        <p class="try-gifts">“Try our web app to find the best gifts for all occasions”</p>
        <ul class="section-list">
            <li class="section-list-item">
                <a href="section-item-link">
                <img src="./images/gift1.jpg" alt="кулька і торт зі свічками" width="270" height="270">
                <div class="container-holiday">
                    <h3 class="holiday-title">Birthday</h3>
                    <p class="more">See More ›</p>
                </div>
                </a>
            </li>
            <li class="section-list-item">
                <a href="section-item-link">
                <img src="./images/gift2.jpg" alt="туфлі і букет нареченої на стілці" width="270" height="270">
                <div class="container-holiday">
                    <h3 class="holiday-title">Anniversary</h3>
                    <p class="more">See More ›</p>
                </div>
                </a>
            </li>
            <li class="section-list-item">
                <a href="section-item-link">
                    <img src="./images/gift3.jpg" alt="листівки" width="270" height="270">
                    <div class="container-holiday">
                        <h3 class="holiday-title">Valentine's Day</h3>
                        <p class="more">See More ›</p>
                    </div>
                </a>
            </li>
            <li class="section-list-item">
                <a href="section-item-link">
                    <img src="./images/gift4.jpg" alt="ялинка" width="270" height="270">
                    <div class="container-holiday">
                        <h3 class="holiday-title">Christmas</h3>
                        <p class="more">See More ›</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>