<header class="header">
    <a class="logo" href="#"><img src="./images/logo.png" alt=""></a>
    <nav>
        <ul class="header__navigation">
            <li class="header__item"><a class="header__nav-link" href="#">Home</a></li>
            <li class="header__item"><a class="header__nav-link" href="#">About Us</a></li>
            <li class="header__item"><a class="header__nav-link" href="#">Services</a></li>
            <li class="header__item"><a class="header__nav-link" href="#">Blogs</a></li>
        </ul>
    </nav>
    <button class="header__nav-button" type="button">Gift Finder</button>
</header>