  <section class="hero">
    <div class="sub-container">
      <div class="inform-hero">
        <h1 class="hero-title">Find a gift for your wife or girlfriend</h1>
        <p class="description">
          Struggling to find a gift for your wife or girlfriend? No problem!
        </p>
        <button type="button" class="btn">Find gift now</button>
      </div>
      <img
        src="/src/images/couple.jpg"
        alt="Happy couple are smiling"
        class="couple-image"
        width="719px"
        height="700px"
      />
    </div>
  </section>

  <section class="work">
    <div class="sub-container">
      <div class="inform-work">
        <h2 class="subtitle">How we work</h2>
        <p class="description we-work">
          We’ve actually already asked hundreds of women what they want, and
          made a database with the results. All you have to do is take our short
          survey that only takes seconds, and our proprietary algorithm will
          match you with a few perfect gift options.
        </p>
        <button type="button" class="btn transparent-btn">Learn more</button>
      </div>
      <img
        src="/src/images/card.jpg"
        alt="Thanks card"
        class="card-image"
        width="721px"
        height="600px"
      />
    </div>
  </section>
