<section class="hero">
  <div class="hero__container">
    <div class="hero__inform">
      <h1 class="hero__title">Find a gift for your wife or girlfriend</h1>
      <p class="hero__description">
        Struggling to find a gift for your wife or girlfriend? No problem!
      </p>
      <button type="button" class="hero__btn">Find gift now</button>
    </div>
    <img
      src="/src/images/couple.jpg"
      alt="Happy couple are smiling"
      class="hero__image"
      width="719px"
      height="700px"
    />
  </div>
</section>
