<section class="work">
  <div class="work__container">
    <div class="work__inform">
      <h2 class="work__title">How we work</h2>
      <p class="work__description">
        We’ve actually already asked hundreds of women what they want, and made
        a database with the results. All you have to do is take our short survey
        that only takes seconds, and our proprietary algorithm will match you
        with a few perfect gift options.
      </p>
      <button type="button" class="work__btn">Learn more</button>
    </div>
    <img
      src="/src/images/card.jpg"
      alt="Thanks card"
      class="work__image"
      width="721px"
      height="600px"
    />
  </div>
</section>
